.calendar{
    width: 50vw;
    height: 90vh;
    margin-left: 30vw;
    margin-right: 20vw;
    margin-top: 5vh;
    margin-bottom: auto;
    background-color: #f0f0f0;
    border: solid 0.5px black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -2px black;
    padding: 2vw;
}

