/* Estilos globales */
html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Transición global */
* {
    transition: .5s;
}

/* Estilos para los botones del calendario */
.fc-button-group .fc-button-primary {
    /* border: solid 0.5px black !important; */
    border-radius: 100px !important;
    /* box-shadow: 0px 0px 10px -2px black !important; */
    margin: 0.5vw !important;
}

/* Estilos para la estructura del calendario */
.fc .fc-multimonth-compact .fc-multimonth-daygrid-table,
.fc .fc-multimonth-compact .fc-multimonth-header-table {
    font-size: 12px !important;
}

.fc-daygrid-day,
.fc-daygrid-day-frame {
    /* max-height: 25% !important; */
}

.fc .fc-daygrid-day-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fc .fc-multimonth {
    align-items: center;
    justify-content: space-around;
    background-color: white !important;
    border-radius: 20px;
}

.fc-multimonth-month {
    min-width: 200px;
    width: 15vw !important;
    min-height: 200px;
    height: 15vw !important;
    margin: 1vw !important;
}

.fc .fc-daygrid-day-events {
    position: relative !important;
}

.fc-event-time {
    display: none !important;
}

/* Estilos para los eventos seleccionados */
.selected {
    background-color: #9dc0c8 !important;
}

/* Clase para ocultar los meses */
.hidden {
    display: none;
}

/* Estilos para los botones de confirmación y cancelación */
.fc-button-primary.fc-confirmBtn-button,
.fc-button-primary.fc-cancelBtn-button {
    background-color: aliceblue !important;
    border-radius: 100px !important;
    padding: 0.25vw .75vw !important;
}

.fc-button-primary.fc-confirmBtn-button {
    color: darkgreen !important;
    border: solid 0.5px green !important;
    box-shadow: 0px 0px 10px -2px green !important;
}

.fc-button-primary.fc-cancelBtn-button {
    color: darkred !important;
    border: solid 0.5px red !important;
    box-shadow: 0px 0px 10px -2px red !important;
}

.fc .fc-button-group {
    align-items: center;
    gap: 1vw !important;
}

/* Estilos para los elementos de la barra de herramientas */
.fc-toolbar-chunk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Estilos para los botones de navegación */
.fc-next-button,
.fc-prev-button {
    min-width: 30px !important;
    width: 4vw !important;
    height: fit-content !important;
}

/* Estilos para los botones de inicio y final del año escolar */
.fc-inicioAñoEscolar-button,
.fc-finalAñoEscolar-button {
    font-size: 18px !important;
    background-color: transparent !important;
    color: black !important;
    border: solid 0.5px grey !important;
    border-radius: 100px !important;
    box-shadow: 0px 0px 5px -2px black !important;
    padding: 0.0vw 1.5vw !important;
}

/* Estilos para el año activo */
.yearactive {
    background-color: #9dc0c8 !important;
    border-radius: 100px !important;
}

/* Estilos para el botón de eliminar */
.fc-event-delete-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    border-radius: 100px;
    border: 0.5px solid black;
    box-shadow: 0px 0px 10px -2px black;
    color: white;
    padding: 5px;
    cursor: pointer;
    transform: translate(50%, -50%);
    z-index: 10;
}

/* Mostrar el botón de eliminar al pasar el mouse sobre el evento */
.fc-event:hover .fc-event-delete-btn {
    display: block;
}

/* Estilos para la gestion anual del calendario */
.fc-toolbar-chunk:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.fc-nextCourse-button, .fc-prevCourse-button {
    font-size: 20px !important;
    background-color: transparent !important;
    color: black !important;
    border: none !important;
    padding: 0vw 1.25vw !important;
    box-shadow: 0px 0px 10px grey !important;
}

.fc-actualCourse-button{
    font-size: 25px !important;
    background-color: transparent !important;
    color: black !important;
    border: 2px solid #626262 !important;
    border-top: none !important;
    padding: 0vw 1.25vw !important;
    border-radius: 100px !important;
    box-shadow: 0px 2px 6px -2px grey !important;
}