/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fc-button-group .fc-button-primary {
    border: solid 0.5px black !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px -2px black !important;
    padding: 0.5vw !important;
    margin: 0.5vw !important;
}

/* calendar */
.fc .fc-multimonth-compact .fc-multimonth-daygrid-table, .fc .fc-multimonth-compact .fc-multimonth-header-table{
    font-size: 12px !important;
}

.fc-daygrid-day {
    /* background-color: #d8d8d8; */
}

.fc .fc-daygrid-day-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fc .fc-multimonth{
    align-items: center;
    justify-content: space-around;
    background-color: white !important;
    border-radius: 20px;
}


.fc-multimonth-month{
    min-width: 200px;
    width: 15vw !important;

    min-height: 200px;
    height: 15vw !important;
    
    margin: 1vw !important;
}

.fc .fc-daygrid-day-events{
    position: relative !important;
}

/* 
.fc-EstatalBtn-button{
    background-color: red !important;
}

.fc-LocalBtn-button{
    background-color: orange !important;
    color: black !important;

}

.fc-AltresBtn-button{
    background-color: blue !important;
}

.fc-PersonalBtn-button{
    background-color: green !important;
}

.fc-PermisosBtn-button{
    background-color: aquamarine !important;
    color: black !important;

}

.fc-PendentBtn-button{
    background-color: yellow !important;
    color: black !important;

}

.fc-NoAcceptadesBtn-button{
    background-color: purple !important;
    color: white !important;
} */
